// _vars.scss

$color-blue-chill: #15879F;
$color-dark-grey: #333;
$color-athens-grey: #EFEBE5;
$color-light-grey: #DEDEDE;
$color-casablanca: #F8BA4E;
$color-white: #FFF;
$color-black: #000;
$color-alluminium: #9C9798;
$color-downy: #78C5C2;
$color-shamrock: #27CB9A;

$font-stack: 'Lato', sans-serif;
$primary-color: $color-dark-grey;
$background-color: $color-athens-grey;
$border-color: $color-light-grey;
$base-font-size: 16px;

$break-large: 1200px;